<footer>
    <div class="f-info">
         <!-- <div class="f-info-socials">
            <div><i class="fa-brands fa-square-instagram"></i></div>
            <div><i class="fa-brands fa-square-facebook"></i></div>
            <div><i class="fa-brands fa-youtube"></i></div>
         </div> -->
         <div>&copy NestQuest 2024</div><br>
         <div class="f-info-links">
            <a href="#">&#x2022; Privacy</a>
            <a href="# ">&#x2022; Terms</a>
         </div>
         <br>
         <div>Made with &#10084;&#65039; by Shreyansh Tech Solutions</div>

    </div>
</footer>