<% layout("../layouts/boilerplate") %>

<body>
   
    <h2 id="l1" style="font-size:2.8rem;">All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create new Listing </button>
    </form> -->
    <div class="row row-col-lg-4 row-col-md-2 row-col-sm-1" id="cardsRow">
    <% for(let listing of allListings){ %>
    <div class="card column" style="width: 20rem;">
        <img src="<%=listing.image%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-img-overlay">  dwd </div>
        <a href="/listings/<%=listing._id%>" class="stretched-link"></a>
        <div class="card-body">
          <b><p class="card-text"><%=listing.title%> <br></b>
            &#8377;<%= listing.price.toLocaleString("en-IN") %> night
        </p>
        </div>
      </div>
      <% } %>
    <ul>
    </div>


</body>