<% layout("../layouts/boilerplate") %>

  <body>
    <h2>Create a New Listing</h3>
    <br>
    <form method="POST" action="/listings" enctype="multipart/form-data">
      <div>
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]"  type="text" class="form-control"/>
     </div>
     <br>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea
            name="listing[description]"
            class="form-control"
         ></textarea>
      </div>
      <br>
     <div>
      <label for="image" class="form-label">Upload an image</label>
      <input
      name="listing[image]"
      type="file"
      class="form-control"
    />
     </div>
      <br />
      <div>     
        <label for="price" class="form-label">Enter the price per night</label>
         <input name="listing[price]" class="form-control" type="number" />
      </div>
      <br />
      <div>
        <label for="country" class="form-label">Enter the country</label>
        <input name="listing[country]" class="form-control" type="text" />
      </div>
      <br />
      <div>
        <label for="location" class="form-label">Enter the location</label>       
        <input
        name="listing[location]"
        type="text"
        class="form-control"
      /></div>
      <button class="btn btn-success">Create a Nest</button>
    </form>
    <br>
  </body>
