*{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
#nv {
    color: white !important;
    background-color: white !important;
}
body{
    background-color: rgb(235, 163, 163);
}

.navbar-brand{
    color: #fe424d !important;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;

   
}
.fa-suitcase-rolling{
     color: #fe424d;
}

.nav-link{
    font-family: "Tilt Neon", sans-serif;
     font-optical-sizing: auto;
    font-weight: 400;
     font-style: normal;
     font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    color: black !important;
}

/* .f-info-socials{
    font-size: 1.2rem;
    width: 100%;
} */


.f-info-links a:hover{

    text-decoration: underline;
}
.f-info-links a{
    text-decoration: none;
    color: black;

    /* width: 100%; */
}

.f-info{
    flex-direction: column;
     display: flex;
     height: 5rem;
     gap: 0.25rem;
     background-color: rgba(221, 219, 219, 0.72);
     /* flex-wrap: wrap; */
    align-items: center;
     /* text-align: center; */
     justify-content:center;
    
}

.card{
    border: none !important;
    margin-bottom: 2rem;
    /* margin-right: 3rem; */
}

#l1,#l2{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-size:2.5rem;
    text-align: center;
    margin-right:0.5rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.listLink{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* .container{
    display: flex;
    align-items: center !important;
} */

.btn{
    margin-top: 1rem;
}

#cardsRow{
    justify-content: space-around;
}